@use '../../styles/scss/partials/colors';

.tab_container {
  :global {
    .ant-tabs-tab {
      font-size: 0.875rem;
      line-height: 1.0625rem;
    }
    .ant-tabs-tab-active {
      background: colors.$grey_dark;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: colors.$black;
    }
    .ant-tabs-tab:hover {
      color: colors.$black;
      background: colors.$grey_dark;
    }
    .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab {
      padding: 0.782rem 1.0625rem;
    }
    .ant-tabs-left
      > .ant-tabs-content-holder
      > .ant-tabs-content
      > .ant-tabs-tabpane,
    .ant-tabs-left
      > div
      > .ant-tabs-content-holder
      > .ant-tabs-content
      > .ant-tabs-tabpane {
      padding-left: 0;
    }
    .ant-tabs-ink-bar {
      display: none;
    }
    .ant-tabs-content-holder {
      height: calc(100vh - 3.5625rem);
      overflow-y: auto;
    }
  }
}
